
html { overflow-y: scroll;  }
body { font-family: sans-serif; width: 800px; margin-top: 0px; margin-bottom: 5px; margin-left: auto; 
	margin-right: auto; padding: 10px; }
.container { position: relative; margin: 0 auto;}
.error { color: red; }
label { display: block; font-size: 20px; }
input[type=text] { width: 400px; font-size: 20px; padding: 2px; }
textarea { width: 400px; height: 200px; font-size: 15px; font-family: monospace; }
input[type=submit] { font-size: 18px }
hr { margin-top: 2px; margin-bottom: 20px; auto; clear: both;}
.post { margin-top: 20px; }
.post-title { display: inline-block; font-weight:  bold; font-size: 26px; line-height: 16px; max-width: 600px;}
.post-datetime { display: inline-block; font-size: 16px; float: right; color: #C0C0C0; margin-bottom: 0px; }
.post-post { margin: 0; font-size: 16px; max-width: 780px;}
a { text-decoration: none; }
a:link    { color:green; }
a:visited { color:DarkGreen; }
a:hover   { color:GreenYellow; }
a:active  { color:green; }
.add-new { border-width: 2px; border-style: solid; border-color: black; }
footer { position: absolute; margin-top: 40px; padding-bottom: 20px; }