<!doctype html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	<title>/b/log
	</title>
</head>

<body>
	<a href="/blog"><h1>/b/log</h1>	</a>
	<h2>new post</h2>
	<form method="post">
		<label>
			<div>title</div>
			<input type="text" name="subject" value="{{title}}"/>
		</label>
		<label>
			<div>body</div>
			<textarea name="content">{{body}}</textarea>
		</label>
		<input type="submit" />
		<div class="error">{{error}}</div>
		
	</form>

</body>
</html>
