<!doctype html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	<title>/b/log
	</title>
</head>

<body>
	<a href="/blog"><h1>/b/log</h1>	</a>

	<div class="post">
		<div class="post-datetime">{{apost.created.strftime("%c")}}</div>
		<div class="post-title">{{apost.title}}</div>
		<hr />
		<div class="post-body">{{apost.body}}</div>
	</div>

	<footer>Queried {{queried_time}} seconds ago.</footer>

</body>
</html>
