<!doctype html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	<title>/b/log
	</title>
</head>

<body>
	<div class="container">
		<a href="/blog"><h1>/b/log</h1>	</a>
		<a href="/blog/newpost"><input type="button" value="Add new!" /></a>
		{%  for post in posts %}
		<div class="post">
			<div class="post-datetime">{{post.created.strftime('%d %B %Y %H:%M:%S')}}</div>
			<div class="post-title"><a href="/blog/{{post.key().id()}}" alt="permalink">{{post.title}}</a></div>
			<hr />
			<div class="post-body">{{post.body}}</div>
		</div>
		<br />
		{% endfor %}
	</div>
	<footer>Queried {{queried_time}} seconds ago.</footer>

</body>
</html>
