<!doctype html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/css/style.css" />
		<title>ASCII art</title>
	</head>

	

	<body>
	<a href="/ascii"><h1>/ascii/</h1></a>
	<form method="post">
		<label>
			<div>title</div>
			<input type="text" name="title" value="{{title}}"/>
		</label>
		<label>
			<div>art</div>
			<textarea name="art">{{art}}</textarea>
		</label>
		<input type="submit" />
		<div class="error">{{error}}</div>
		
	</form>

	{% if img_url %}
		<img src="{{img_url}}" class="map" />
	{% endif %}

	<hr />

	{%  for art in arts %}
		<div class="art">
			<div class="art-title">{{art.title}}</div>
			<pre class="art-body">{{art.art}}</pre>
		</div>
	{% endfor %}

	</body>
</html>
