<!doctype html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	<title>/b/log
	</title>
</head>

<body>
	<h2>Login</h2>
	<form method="post">
	<table>
	    <tr><td>Username</td><td><input type="text" name="username" value="{{username}}"></td></tr>
	    <tr><td>Password</td><td><input type="text" name="password"></td></tr>
	    <tr><td class="error">{{login_error}}</td></tr>
	</table>
	    <br />
	    <input type="submit">
	</form>
</body>
</html>