<!doctype html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	<title>/b/log
	</title>
</head>

<body>
	<h2>Signup</h2>
	<form method="post">
	<table>
	    <tr><td>Username</td><td><input type="text" name="username" value="{{username}}"></td><td class="error">{{errors['username_error']}}</td></tr>
	    <tr><td>Password</td><td><input type="text" name="password"></td><td class="error">{{errors['password_error']}}</td></tr>
	    <tr><td>Verify password</td><td><input type="text" name="verify"></td><td class="error">{{errors['match_error']}}</td></tr>
	    <tr><td>Email (optional)</td><td><input type="text" name="email" value="{{email}}"></td><td class="error">{{errors['email_error']}}</td></tr>
	</table>
	    <br />
	    <input type="submit">
	</form>
</body>
</html>