<!doctype html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	<title>/b/log
	</title>
</head>

<body>
	<a href="/blog"><h1>/b/log</h1>	</a>
	<h1>Welcome, {{username}}</h1>
	
</body>
</html>
